

<div class="home">
  <h1 class="text-center text-info mt-5 p-5">Add New Couse Page</h1>
  <div class="container col-6 ">
    <form action="">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" placeholder="Course Name" class="form-control" [(ngModel)]="cources.cname" name="cname">
          </div>

          <div class="form-group">
            <label for="">Course Price</label>
            <input type="text" placeholder="Course Price" class="form-control" [(ngModel)]="cources.cprice" name="cprice">
          </div>

          <div class="form-group">
            <label for="">Course Image</label>
            <input type="file" placeholder="Course Image" class="form-control" [(ngModel)]="cources.cimage" name="cimage">
          </div>

          <div class="form-group">
            <label for="">Course Description</label>
            <textarea name="cdescription" [(ngModel)]="cources.cdescription" class="form-control" id="" cols="10"
              rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="">Course Category</label>
            <input type="text" placeholder="Course Category" class="form-control" [(ngModel)]="cources.ccategoryname"
              name="ccategoryname">
          </div>

          <div class="form-group">
            <label for="">Course Doctor Name</label>
            <input type="text" placeholder="Course Doctor Name" class="form-control" [(ngModel)]="cources.cdname"
              name="cdname">
          </div>

          <div class="form-group">
            <label for="">Course Doctor Image</label>
            <input type="file" placeholder="Course Doctor Image" class="form-control" [(ngModel)]="cources.cdimage"
              name="cdimage">
          </div>

          <div class="form-group">
            <label for="">Course Student Number</label>
            <input type="number" placeholder="Course Students Number" class="form-control"
              [(ngModel)]="cources.cstudentnumber" name="cstudentnumber">
          </div>

          <div class="form-group">
            <label for="">Course Fans</label>
            <input type="number" placeholder="Course Fans" class="form-control" [(ngModel)]="cources.cloves"
              name="cloves">
          </div>
        </div>

        <button (click)="addCourse()" class="btn btn-block w-50 btn-success mx-auto my-2">Add New Course</button>
      </div>
    </form>
  </div>
</div>
